<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="visor-tiempo">
  <template>
    <style>
      :host {
        display: block;
      }

      .table th {
        text-align: center;
      }

      .table td {
        text-align: center;
      }

      .centrado-porcentual {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <template is="dom-if" if="{{loading}}">
      <paper-spinner active class="centrado-porcentual"></paper-spinner>
    </template>

    <template is="dom-if" if="{{!loading}}">
      <center>
        <br>El tiempo hoy <b>{{fecha}}</b> en nuestra sucursal de <b>{{provincia}}</b> es:
        <br>Temperatura mínima: <b>{{tMinima}}ºC</b> - Temperatura máxima: <b>{{tMaxima}}ºC</b>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
                  <tr>
                    <template is="dom-repeat" items="{{temperaturas}}">
                      <th scope="col">{{item.hora}} H </th>
                  </template>
                  </tr>
            </thead>
            <tbody>
                <tr>
                  <template is="dom-repeat" items="{{temperaturas}}">
                    <td>{{item.value}} ºC<p></td>
                  </template>
                </tr>
            </tbody>
          </table>
        </div>
      </center>
    </template>

    <div>
      <span hidden$="{{!error}}">
        <div class="alert alert-danger" role="alert">
          <center><h2> Uppps ...</h2>
          Parece que ha ocurrido un error,
          prueba a <a href="/login" class="alert-link">ENTRAR</a> de nuevo.
          <br>Msg: {{error_msg}}
          <br>Cod: {{error_code}}
          <center>
          </div>
      </span>
    </div>
  </div>

    <iron-ajax auto
      id="getUser"
      url="{{apiBaseUrl}}/apitechu/v2/external/weather"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      loading="{{loading}}"
    >

  </template>

  <script>
    class VisorTiempo extends Polymer.Element {
      static get is() { return 'visor-tiempo'; }
      static get properties() {
        return {
          provincia: {
            type: String
          }, fecha: {
            type: Date
          },tMaxima: {
            type: Number
          }, tMinima: {
            type: Number
          }, temperaturas: {
            type: Array
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {  //para configurar la IP del servidor de API local y remoto(openshift)
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      showData(data) {
        console.log("showData visor-tiempo");
        console.log(data.detail.response[0]);
        this.provincia = data.detail.response[0].provincia;
        this.fecha = data.detail.response[0].prediccion.dia[0].fecha;
        this.tMaxima = data.detail.response[0].prediccion.dia[0].temperatura.maxima;
        this.tMinima = data.detail.response[0].prediccion.dia[0].temperatura.minima;
        this.temperaturas = data.detail.response[0].prediccion.dia[0].temperatura.dato;
      };

      showError(error) {
        console.log("ShowError visor-tiempo");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      };
    }

    window.customElements.define(VisorTiempo.is, VisorTiempo);
  </script>
</dom-module>
