<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div>
      <span hidden$="{{error}}">
        <center>
          <div class="card" style="width: 21rem;">
              <div class="card-body">
                <h3 class="card-title">Atención</h3>
                <h5 class="card-subtitle mb-2 text-muted">Ha solicitado la eliminación de la cuenta:</h5>
                <p class="card-text">IBAN: {{iban}}.</p>
                <p class="card-text">Alias: {{alias}}.</p>
                <p class="card-text">Saldo: {{balance}} €.</p>
                <p><center> ¿Quiere proceder con el borrado?</center>
                </p>
                <a href="#/users/{{userid}}/accounts/{{accountid}}/delete" class="btn btn-lg btn-primary btn-block" role="button" aria-pressed="true">Borrar Cuenta</a>
              </div>
          </div>
        </center>
      <span>
    </div>
    <div>
      <span hidden$="{{!error}}">
        <div class="alert alert-danger" role="alert">
          <center><h2> Uppps...</h2>
          Algo ha ido mal, intentelo de nuevo.
          <br>MSG: {{error_msg}} - COD {{code}}
          <button class="btn btn-link"><a href="#/users/{{userid}}">Volver a la página de usario </a></button>
          <center>
        </div>
      <span>
    <div>

    <iron-ajax auto
      id="getAccount"
      url="{{apiBaseUrl}}/apitechu/v2/users/{{userid}}/accounts/{{accountid}}"
      method="GET"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, alias: {
            type: String
          }, balance: {
            type: Number
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, loaded: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response[0]);
        console.log(data.detail.response[0].IBAN)
        this.iban=data.detail.response[0].IBAN;
        this.balance=data.detail.response[0].balance;
        this.alias=data.detail.response[0].alias;
        this.loaded=true;
      };

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      };
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
