<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      .centrado-porcentual {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

    <div class="form-signin">
      <center><p class="h3">Acceso seguro a </p></center>
      <center><p class="h3">Bank Of SpringField</p></center>
      <center><img src="https://s3-eu-west-1.amazonaws.com/bucket-pract2-carloscarasa/candado.jpg" width="40" height="40" alt="Candado_Seguro"></center>
      <br>
      <p class="h6">Identificación</p>
      <input placeholder="nombre@email.com" id="inputEmail" class="form-control" type="email" value="{{email::input}}" required autofocus></inpunt>
      <br>
      <input placeholder="Contraseña" id="inputPassword" class="form-control" type="Password" value="{{password::input}}" required>
      <button class="btn btn-lg btn-primary btn-block btn-dark" type="submit" on-click="login">Entrar</button>
      <p>
      <p><center> si no tiene usuario</center>
      </p>
      <a href="#/users/create" class="btn btn-lg btn-primary btn-block" role="button" aria-pressed="true">Crea Tu Usuario</a>
    </div>

    <template is="dom-if" if="{{loading}}">
      <paper-spinner active class="centrado-porcentual"></paper-spinner>
    </template>

    <div class="form-signin">
      <span hidden$="{{!logged}}">
        Credenciales validadas satisfactoriamente
        <br> accediendo a zona segura...
      </span>
    </div>


    <div class="form-signin">
      <span hidden$="{{!error}}">
        <div class="alert alert-danger" role="alert">
          {{error_msg}}
        </div>
      </span>
    </div>

    <iron-ajax
      id="doLogin"
      url="{{apiBaseUrl}}/apitechu/v2/login/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      loading="{{loading}}"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, logged: {
            type: Boolean,
            value: false
          }, id: {
            type: Number
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000'; //Para configurar la IP del servidor de API local y remoto(openshift)
              }
            }
          }
        };
      }

      manageAJAXResponse(data) {
        this.logged=true;
        console.log("Login De Usuario.");
        console.log(data.detail.response);
        console.log(data.detail.response.msg);
        window.location = '/#/users/'+data.detail.response.idUsuario;
        //run(data.detail.response.idUsuario);
      }

      run(user){
          window.location = '#/users/'+data.detail.response.idUsuario;
      }


      showError(error){
       //Ha habido un error en la petición
        console.log("ShowError Login Usuario");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      }

      login() {
        console.log("El usuario ha pulsado el botón");
        this.error=false;
        this.logged=false;
        if(this.email == "" || this.email == undefined || this.password == "" || this.password == undefined){
          this.error_msg='Por favor, complete el email y el password para poder continuar.';
          this.error=true;
          console.log(this.error_msg);
        } else {
          var loginData = {
            "email" : this.email,
            "password" : this.password
          };
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición Enviada");
          this.logged=true;
          
        }
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
