<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="crear-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }

      .centrado-porcentual {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

      <div id="fomulario" class="form-signin">
        <center>
          <p class="h3">Alta de movimiento</p>
          <p class="h3">en cuenta: {{alias}}</p>
          <p class="h5">Saldo actual: {{oldBalance}} €</p>
          <button class="btn btn-link"><a href="#/users/{{userid}}/accounts">Volver a tus cuentas </a></button>
        </center>
        <p>

        <label for="inputType">Tipo de movimiento</label>
        <select placeholder="Selecciona" id="inputType" class="form-control" value="{{type::input}}">
          <option selected>Selecciona el Tipo ...</option>
          <option>Ingreso</option>
          <option>Reintegro</option>
        </select>

        <label for="inputDescription">Descripción del movimiento</label>
        <input placeholder="Descripción del movimiento" id="inputDescription" class="form-control" type="text" value="{{description::input}}" required ></inpunt>

        <label for="inputAmount">Importe</label>
        <div class="input-group" id="inputAmount">
          <input placeholder="Importe movimiento 00.00" type="text" class="form-control" value="{{amount::input}}" aria-label="Importe en Eruros (Con dos deciminal separados por '.')">
          <div class="input-group-append">
            <span class="input-group-text">€</span>
            <span class="input-group-text">0.00</span>
          </div>
        </div>

        <label for="inputDate">Fecha Movimiento</label>
        <input placeholder="dd/mm/aaaa" id="inputDate" class="form-control" type="date" value="{{date::input}}" required>

        </p><button class="btn btn-lg btn-primary btn-block btn-dark" type="submit" on-click="create">Crear Movimiento</button>

      <template is="dom-if" if="{{loading}}">
        <paper-spinner active class="centrado-porcentual"></paper-spinner>
      </template>

      <div class="form-signin">
        <span hidden$="{{!created}}">
          {{response}}
          <button class="btn btn-link"><a href="#/users/{{userid}}/accounts/{{accountid}}/movements">Ver movimientos de la cuenta </a></button>
          <button class="btn btn-link"><a href="#/users/{{userid}}/accounts">Volver a tus cuentas </a></button>
        </span>
      </div>
      <div class="form-signin">
        <span hidden$="{{!error}}">
          <div class="alert alert-danger" role="alert">
            {{error_msg}}
            <button class="btn btn-link"><a href="/users/{{userid}}/accounts">Volver a tus cuentas </a></button>
          </div>
        </span>
      </div>


    <iron-ajax auto
        id="getAccount"
        url="{{apiBaseUrl}}/apitechu/v2/users/{{userid}}/accounts/{{accountid}}"
        handle-as="json"
        on-response="showData"
        on-error="showError"
      ></iron-ajax>

    <iron-ajax
      id="doCreateMovement"
      url="{{apiBaseUrl}}/apitechu/v2/users/{{userid}}/accounts/{{accountid}}/movements"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      loading="{{loading}}"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class CrearMovimiento extends Polymer.Element {
      static get is() { return 'crear-movimiento'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, type: {
            type: String
          }, description: {
            type: String
          }, amount: {
            type: Number
          }, date: {
            type: Date,
          }, response: {
            type:String
          }, created: {
            type: Boolean,
            value: false
          },error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, alias: {
            type: String
          }, oldBalance: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      manageAJAXResponse(data) {
        //La petición ha sido correcta
        console.log("manageAJAXResponse creación de movimiento");
        console.log(data.detail.response);
        this.created=true;
        this.response=data.detail.response.msg;
      }

      showData(data) {
        console.log("Account showData");
        console.log(data.detail.response[0]);
        console.log(data.detail.response[0].alias);
        this.alias = data.detail.response[0].alias;
        this.oldBalance = data.detail.response[0].balance;
      }

      showError(error){
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      }

      create() {
        console.log("El usuario ha pulsado el botón de crear movimiento");
        this.created=false;
        this.error=false;
        if(this.amount.indexOf(",")>=0 ){
          this.error_msg='Parece que has introducido un importe no valido, prueba a poner los decimales con punto(.) en legar de coma (,). Modifiquelo o';
          this.error=true;
          console.log(this.error_msg);
        } else if(this.amount <= 0 ){
           this.error_msg='Parece que has introducido un importe no valido (<=0). Por favor, actualizar el importe con un valor correcto (>0). Modifique o';
           this.error=true;
           console.log(this.error_msg);
           return;
        }else if(this.amount > 0 ){
          var moveData = {
            "movementId" : this.id,
            "type" : this.type,
            "description" : this.description,
            "amount" : this.amount,
            "date" : this.date
          };

          this.$.doCreateMovement.body = JSON.stringify(moveData);
          this.$.doCreateMovement.generateRequest();
          console.log("Petición Creción de Movimientos Enviada");
        }

      }

    }

    window.customElements.define(CrearMovimiento.is, CrearMovimiento);
  </script>
</dom-module>
