<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }

      .centrado-porcentual {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }
    </style>
    <!--all:inital;-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <template is="dom-if" if="{{loading}}">
      <paper-spinner active class="centrado-porcentual"></paper-spinner>
    </template>

    <template is="dom-if" if="{{!loading}}">
      <span hidden$="{{error}}">
        <div class="table-responsive">
          <table class="table table" id="cabecera">
              <td><p class="h4">Lista de Movimientos</p></td>
              <td class="text-right"><button class="btn btn-link" id="btnvolver"><a href="#/users/{{userid}}/accounts">Ir a tus cuentas</a></button></td>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Importe</th>
                <th scope="col" class="text-right">Balance</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{movements}}">
                <tr>
                  <td>{{item.date}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.amount}} €</td>
                  <td class="text-right">{{item.balance}} €</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </span>
      <div>
        <span hidden$="{{!error}}">
          <span hidden$="{{!errorw}}">
            <div class="alert alert-light" role="alert">
              <center>
                <h3> Actualmente, </h3>
                no exieten movimientos en esta cuenta
                <br>Cuenta: {{accountid}}
                <br>
                <button class="btn btn-link"><a href="#/users/{{userid}}/accounts">Ir a tus cuentas </a></button>
                <button class="btn btn-link"><a href="#/users/{{userid}}/accounts/{{accountid}}/movements/create">Crear movimiento en la cuenta </a></button>
                <br>
                <br>MSG: {{error_msg}}
              </center>
            </div>
          </span>
          <span hidden$="{{!errora}}">
            <div class="alert alert-danger" role="alert">
              <center><h2> Uppps ...</h2>
              Parece que ha ocurrido un error,
              <br>prueba a <a href="/login" class="alert-link">ENTRAR</a> de nuevo en tu zona segura.
              <br>MSG: {{error_msg}}
              <br>CD: {{error_code}}
              <center>
              </div>
          </span>
        </span>
      </div>
    </template>


    <iron-ajax auto
      id="getMovements"
      url="{{apiBaseUrl}}/apitechu/v2/users/{{userid}}/accounts/{{accountid}}/movements"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      loading="{{loading}}"
    ></iron-ajax>

  </template>

  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accountid: {
            type: Number
          }, movements: {
            type: Array
          }, balance: {
            type: Number
          }, error: {
            type: Boolean,
            value: false
          }, errorw: {
            type: Boolean,
            value: false
          }, errora: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      showData(data) {
        console.log("Accounts showData");
        console.log(data.detail.response[0]);
        this.movements = data.detail.response;
      }

      showError(error){
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
        if(error.detail.request.__data.status==404){
          this.errorw=true;
        } else if(error.detail.request.__data.status==403){
          this.errora=true;
        }else{
          this.errora=true;
        }
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
