<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="crear-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }

      .centrado-porcentual {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

    <template id="spinner" is="dom-if" if="{{loading}}">
      <paper-spinner active class="centrado-porcentual"></paper-spinner>
    </template>

    <span hidden$="{{error}}">
      <div id="fomulario" class="form-signin">
        <center>
          <p class="h3">Alta de cuenta nueva:</p>
          <button class="btn btn-link"><a href="#/users/{{userid}}">Ir a tu página de inicio </a></button>
        </center>
        <p>
        <label for="inputDescription">Alias de la Cuenta</label>
        <input placeholder="Nombre representativo para la cuenta" id="inputDescription" class="form-control" type="text" value="{{alias::input}}" required ></inpunt>

        <label for="inputAmount">Importe Inicial</label>
        <div class="input-group" id="inputAmount">
          <input placeholder="Importe movimiento 00.00 €" type="text" class="form-control" value="{{amount::input}}" aria-label="Importe en Eruros (Con dos deciminal separados por '.')">
          <div class="input-group-append">
            <span class="input-group-text">€</span>
            <span class="input-group-text">0.00</span>
          </div>
        </div>

        </p><button class="btn btn-lg btn-primary btn-block btn-dark" type="submit" on-click="create">Crear Cuenta</button>

        <div id=""form-signin"">
          <span hidden$="{{!created}}">
            </br>
            <p class="h6">{{response}}</p>
            <button class="btn btn-link"><a href="#/users/{{userid}}/accounts">Ver tus cuentas</a></button>
          </span>
        </div>
        <div id=""form-signin"">
          <span hidden$="{{!errord}}">
            </br>
            <div class="alert alert-danger" role="alert">
              <br>Msg: {{error_msg}}
              <br>Cod: {{error_code}}
            </div>
          </span>
        </div>
      </div>
    </span>

    <div>
      <span hidden$="{{!error}}">
        <div class="alert alert-danger" role="alert">
          <center><h2> Uppps ...</h2>
          Parece que ha ocurrido un error,
          <br>prueba a <a href="#/login" class="alert-link">ENTRAR</a> de nuevo en tu zona segura.
          <br>Msg: {{error_msg}}
          <br>Cod: {{error_code}}
          <center>
          </div>
      </span>
    </div>

    <iron-ajax
      id="doCreateMovement"
      url="{{apiBaseUrl}}/apitechu/v2/users/{{userid}}/accounts"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      loading="{{loading}}"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class CrearCuenta extends Polymer.Element {
      static get is() { return 'crear-cuenta'; }
      static get properties() {
        return {
          alias: {
            type: String
          }, balance: {
            type: Number
          }, userid: {
            type: String,
          }, response: {
            type:String
          }, created: {
            type: Boolean,
            value: false
          }, error: {
            type: Boolean,
            value: false
          }, errord: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      manageAJAXResponse(data) {
        //La petición ha sido correcta
        console.log("manageAJAXResponse Crear Cuenta");
        console.log(data.detail.response);
        this.created=true;
        this.response=data.detail.response.msg;
      }

      showError(error){
       //Ha habido un error en la petición
        console.log("Upps Hubo un error en la creación del movimiento: "+error)
        console.log("ShowError Crear Cuenta");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      }

      create() {
        console.log("El usuario ha pulsado el botón de crear movimiento");
        this.created=false;
        this.error=false;
        this.errord=false;

        if(this.amount.indexOf(",")>=0 ){
          this.error_msg='Parece que has introducido un importe no valido, prueba a poner los decimales con punto(.) en legar de coma (,). Modifiquelo o';
          this.errord=true;
          console.log(this.error_msg);
        } else if(this.amount <= 0 ){
           //alert('No se permiten importes iguales o menores a cero. Por favor, actualizar el importe con un valor correcto');
           this.error_msg='Parece que has introducido un importe no valido (<=0). Por favor, actualizar el importe con un valor correcto (>0). Modifique o';
           this.errord=true;
           console.log(this.error_msg);
           return;
        }else if(this.amount > 0 ){
          var moveData = {
            "alias" : this.alias,
            "amount" : this.amount
          };
          //Pasar los datos a formato JSON
          this.$.doCreateMovement.body = JSON.stringify(moveData);
          //Envio la petición
          this.$.doCreateMovement.generateRequest();
          console.log("Petición Creción de Movimientos Enviada");
        }

      }

    }

    window.customElements.define(CrearCuenta.is, CrearCuenta);
  </script>
</dom-module>
