<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="borrar-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div>
      <span hidden$="{{error}}">
        <div class="alert alert-dark" role="alert">
            <center><h2> Borrado de cuenta.</h2>
            Según ha solicitado se ha procedido a borrar su cuenta:
            <br>IBAN:{{iban}}
            <br>Alias:{{alias}}
            <br>Saldo:{{balance}} €
            <br>Le recordamos, que su saldo ya lo tiene disponeble en deposito para recoger en ventanilla.
            <br>En breve podrá trasferiar el saldo a otra de sus cuentas.
            <button class="btn btn-link"><a href="#/users/{{userid}}/accounts">Volver a tus cuentas </a></button>
            <center>
        </div>
      <span>
    </div>
    <div>
      <span hidden$="{{!error}}">
        <div class="alert alert-danger" role="alert">
          <center><h2> Uppps...</h2>
          Algo ha ido mal, intentelo de nuevo.
          <br>MSG: {{error_msg}} - COD {{code}}
          <button class="btn btn-link"><a href="#/users/{{userid}}">Volver a la página de usario </a></button>
          <center>
        </div>
      <span>
    <div>

    <iron-ajax auto
      id="deleteAccount"
      url="{{apiBaseUrl}}/apitechu/v2/users/{{userid}}/accounts/{{accountid}}"
      method="DELETE"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    class BorrarCuenta extends Polymer.Element {
      static get is() { return 'borrar-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, alias: {
            type: String
          }, balance: {
            type: Number
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, loaded: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        console.log(data.detail.response.IBAN)
        this.iban=data.detail.response.IBAN;
        this.balance=data.detail.response.balance;
        this.alias=data.detail.response.alias;
        this.loaded=true;
      };

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      };
    }

    window.customElements.define(BorrarCuenta.is, BorrarCuenta);
  </script>
</dom-module>
