<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- el modulo tiene todo el código del componente -->
<dom-module id="visor-usuario">
  <template>
    <!-- primera parte estilo solo del componente polymer -->
    <!-- Stilos locales del componente -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!--all:inital;-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <center>
      <div class="card" style="width: 21rem;">
        <span hidden$="{{error}}">
          <div class="card-body">
            <h3 class="card-title">Bienvenido de nuevo</h3>
            <h5 class="card-subtitle mb-2 text-muted">[[first_name]] [[last_name]].</h5>
            <p class="card-text"> Tu email es: [[email]]..</p>
            <p class="card-text">¿Qué te gustaría hacer?.</p>
            <button class="btn btn-link"><a href="#/users/{{id}}/accounts">Ver tus cuentas </a></button>
            <button class="btn btn-link"><a href="#/users/{{id}}/accounts/create">Crear una cuenta nueva</a></button>
            <button class="btn btn-link"><a href="#/users/{{id}}/update">Actualizar tus datos </a></button>
            <button class="btn btn-link"><a href="#/logout/users/{{id}}">Salir </a></button>
          </div>
        </span>
      </div>
    </center>

    <div>
      <span hidden$="{{!error}}">
        <div class="alert alert-danger" role="alert">
          <center><h2> Uppps ...</h2>
          Parece que ha ocurrido un error,
          <br>prueba a <a href="/login" class="alert-link">ENTRAR</a> de nuevo en tu zona segura.
          <br>MSG: {{error_msg}}
          <br>CD: {{error_code}}
          <center>
          </div>
      </span>
    </div>
  </div>

    <iron-ajax auto
      id="getUser"
      url="{{apiBaseUrl}}/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      showData(data) {
        console.log("showData Vision Usuario");
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      };

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
        //window.location = "/error";
      };
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
