<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="actualizar-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      .centrado-porcentual {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

      <div id="fomulario" class="form-signin">
        <center><p class="h3">Actualización de tus datos de usuario</p></center>
        <br>
        <center><button class="btn btn-link" id="btnvolver"><a href="#/users/{{id}}">Ir a tu página de usuario</a></button></center>
        <br>
        <label for="inputAddress">Nombre</label>
        <input placeholder="Nombre" id="inputName" class="form-control" type="text" value="{{first_name::input}}" required autofocus></inpunt>
        <label for="inputLastName">Apellidos</label>
        <br>
        <input placeholder="Apellido1 Apellido2" id="inputLastName" class="form-control" type="text" value="{{last_name::input}}" required ></inpunt>
        <label for="inputEmail">Correo electrónico</label>
        <br>
        <input placeholder="nombre@email.com" id="inputEmail" class="form-control" type="email" value="{{email::input}}" required ></inpunt>
        <label for="inputPassword">Contraseña</label>
        <br>
        <input placeholder="Contraseña" id="inputPassword" class="form-control" type="Password" value="{{password::input}}" required>
        <label for="inputPassword">Repite Contraseña</label>
        <br>
        <input placeholder="Contraseña2" id="inputPassword2" class="form-control" type="Password" value="{{password2::input}}" required>
        <button class="btn btn-lg btn-primary btn-block btn-dark" type="submit" on-click="update">Actualizar</button>
      </div>

      <template is="dom-if" if="{{loading}}">
        <paper-spinner active class="centrado-porcentual"></paper-spinner>
      </template>

      <div id="fomulario2" class="form-signin">
        <span hidden$="{{!updated}}">
          <center>
            </br>
            <p class="h6">Usuario Actualizado Correctamente</p>
            <button class="btn btn-link"><a href="#/users/{{id}}">Vuelve a tu página de usuario.</a></button>
            <p>
          </center>
        </span>
      </div>

      <div id="alerta-error" class="form-signin">
        <span hidden$="{{!error}}">
          <div class="alert alert-danger" role="alert">
            <center><h4> Uppps ...</h4>
            Parece que ha ocurrido un error-
            <br>Cod: {{error_code}}
            <br>Msg: {{error_msg}}
            <center>
            </div>
        </span>
      </div>

    <iron-ajax auto
        id="getUser"
        url="{{apiBaseUrl}}/apitechu/v2/users/{{id}}"
        handle-as="json"
        on-response="getData"
        on-error="showError"
        loading="{{loading}}"
    ></iron-ajax>

    <iron-ajax
      id="doUpdateUser"
      url="{{apiBaseUrl}}/apitechu/v2/users/{{id}}"
      method="PUT"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      loading="{{loading}}"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class ActualizarUsuario extends Polymer.Element {
      static get is() { return 'actualizar-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, password2: {
            type: String
          }, updated: {
            type: Boolean,
            value: false
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, id: {
            type: Number
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      manageAJAXResponse(data) {
        //La petición ha sido correcta
        console.log("Response Actualizar Usuario");
        console.log(data.detail.response);
        this.updated=true;
      }

      getData(data) {
        console.log("User update showData");
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }

      showError(error){
       //Ha habido un error en la petición
        console.log("ShowError Actualizar Usuario");
        console.log("Upps Hubo un error en la creación del usuario:"+error);
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      }

      update() {
        console.log("El usuario ha pulsado el botón");
        console.log("Password="+this.password);
        this.error=false;
        this.created=false;

        if(this.email == undefined || this.email =="" || this.email == null ){
          this.error_msg='El campo email no puede estar vacio. Por favor, completelo e intentelo de nuevo.';
          this.error=true;
          console.log(this.error_msg);
          return;
        } else if(this.password != this.password2){
          this.error_msg='Las contraseñas son distintas, por favor intentelo de nuevo.';
          this.error=true;
          console.log(this.error_msg);
          return;
        }else {
          if (this.password === undefined || this.password == null || this.password ==""){
            console.log("SIN password");
            var userData = {
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "email" : this.email
            };
          } else {
            console.log("CON password");
            var userData = {
              "first_name" : this.first_name,
              "last_name" : this.last_name,
              "email" : this.email,
              "password" : this.password
            };
          }

          this.$.doUpdateUser.body = JSON.stringify(userData);
          this.$.doUpdateUser.generateRequest();
          console.log("Petición Enviada");
        }
      }
    }

    window.customElements.define(ActualizarUsuario.is, ActualizarUsuario);
  </script>
</dom-module>
