<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <span hidden$="{{!loaded}}">
      <div class="alert alert-dark" role="alert">
        <center><h2> Hasta pronto...</h2>
        Ha salido de la zona segura de
        <br>Bank Of Springfield.
        <button class="btn btn-link"><a href="#/home">Volver a la página de inicio </a></button>
        <center>
      </div>
    <span>

    <span hidden$="{{!error}}">
      <div class="alert alert-danger" role="alert">
        <center><h2> Uppps...</h2>
        Algo ha ido mal, intentelo de nuevo.
        <br>Msg: {{error_msg}} - Cod {{code}}
        <button class="btn btn-link"><a href="#/users/{{id}}">Volver a la página de usario </a></button>
        <center>
      </div>
    <span>

    <iron-ajax auto
      id="logoutUser"
      url="{{apiBaseUrl}}/apitechu/v2/logout/{{id}}"
      method="POST"
      on-response="showData"
      on-error="showError"
    >

  </template>

  <script>
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, loaded: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        this.loaded=true;
      };

      showError(error) {
        console.log("ShowError");
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      };

    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
