
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-tiempo/visor-tiempo.html">
<!-- el modulo tiene todo el código del componente -->
<dom-module id="home-page">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <center>
        <div>
            <img src="https://s3-eu-west-1.amazonaws.com/bucket-pract2-carloscarasa/carusel1.jpg" class="img-fluid" alt="Responsive image"/>
        </div>
    </center>

    <visor-tiempo></visor-tiempo>

  </template>

  <script>
    class HomePage extends Polymer.Element {
      static get is() { return 'home-page'; }
      static get properties() {
        return {

        };
      }
    }

    window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
