<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="crear-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      .centrado-porcentual {
          position: absolute;
          left: 50%;
          top: 15%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/signin.css" rel="stylesheet">

      <div id="fomulario" class="form-signin">
        <center><p class="h3">Creación de Usuario</p></center>
        <center><p class="h3">Bank Of SpringField</p></center>
        <center><img src="https://s3-eu-west-1.amazonaws.com/bucket-pract2-carloscarasa/BankTitular.jpg" width="320" height="100" alt="Candado_Seguro"></center>
        <br>
        <input placeholder="Nombre" id="inputName" class="form-control" type="text" value="{{first_name::input}}" required autofocus></inpunt>
        <br>
        <input placeholder="Apellido1 Apellido2" id="inputLastName" class="form-control" type="text" value="{{last_name::input}}" required ></inpunt>
        <br>
        <input placeholder="nombre@email.com" id="inputEmail" class="form-control" type="email" value="{{email::input}}" required ></inpunt>
        <br>
        <input placeholder="Contraseña" id="inputPassword" class="form-control" type="Password" value="{{password::input}}" required>
        <button class="btn btn-lg btn-primary btn-block btn-dark" type="submit" on-click="create">Crear</button>
      </div>

      <template is="dom-if" if="{{loading}}">
        <paper-spinner active class="centrado-porcentual"></paper-spinner>
      </template>

      <div id="fomulario2" class="form-signin">
        <span hidden$="{{!created}}">
          <center>
            </br>
            <p class="h6">Usuario Creado Correctamente</p>
            <button class="btn btn-link"><a href="#/login">Entre en su zona segura.</a></button>
            <p>
          </center>
        </span>
      </div>

      <div id="alerta-error" class="form-signin">
        <span hidden$="{{!error}}">
          <div class="alert alert-danger" role="alert">
            <center><h4> Uppps ...</h4>
            Parece que ha ocurrido un error,
            prueba a utilizar otro email.
            <br>Cod: {{error_code}}
            <br>Msg: {{error_msg}}
            <center>
            </div>
        </span>
      </div>

    <iron-ajax
      id="doCreateUser"
      url="{{apiBaseUrl}}/apitechu/v2/users/"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      loading="{{loading}}"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class CrearUsuario extends Polymer.Element {
      static get is() { return 'crear-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, created: {
            type: Boolean,
            value: false
          }, error: {
            type: Boolean,
            value: false
          }, error_code: {
            type: String
          }, error_msg: {
            type: String
          }, error_msg_lg: {
            type: String
          }, id: {
            type: Number
          }, apiBaseUrl: {
            type: String,
            value: function() {
              if (window.location.hostname === 'localhost') {
                  return 'http://localhost:3000';
              } else {
                  return 'http://127.0.0.1:3000';
              }
            }
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("Response Creación de Usuario");
        console.log(data.detail.response);
        this.created=true;
      }

      showError(error){
        console.log("ShowError crear-usuario");
        console.log("Upps Hubo un error en la creación del usuario:"+error);
        console.log(error.detail.error);
        console.log(error.detail.error.message);
        console.log(error.detail.request.__data.status);
        console.log(error.detail.request.__data.response.code);
        console.log(error.detail.request.__data.response.msg);
        this.error_code=error.detail.request.__data.response.code;
        this.error_msg=error.detail.request.__data.response.msg;
        this.error_msg_lg=error.detail.error.message;
        this.error=true;
      }

      create() {
        console.log("El usuario ha pulsado el botón");
        this.error=false;
        this.created=false;
        var userData = {
          "id" : parseInt(this.id),
          "email" : this.email,
          "password" : this.password,
          "first_name" : this.first_name,
          "last_name" : this.last_name
        };
        this.$.doCreateUser.body = JSON.stringify(userData);
        this.$.doCreateUser.generateRequest();
        console.log("Petición Enviada");
      }

    }

    window.customElements.define(CrearUsuario.is, CrearUsuario);
  </script>
</dom-module>
